<%- include("templates/cabecera", {tituloWeb:'DashboardDibujos'} )%>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">nombre</th>
        <th scope="col">propietarios</th>
      </tr>
    </thead>
    <tbody>
      <% if (DatosDibujos.length>0) { %>
      <% DatosDibujos.forEach(Dibujo => { %>
       <tr>
         <th scope="row"><%=Dibujo.id  %> </th>
           <td><%=Dibujo.id  %></td>
           <td><%=Dibujo.id  %></td>
           <td>@<%=Dibujo.id  %></td>
         </tr>


      <% }) %>
      <% } %>

    </tbody>
  </table>




</div>

<%- include('templates/footer') %>
